.topdown {
    position: absolute;
    top:  25%;
    right: 0px;
    left: 0px;
}

.text-mid {
    text-align: center;
}

.zippy {
    padding-left: 5%;
}

.coloa{
    color: black;
    background-color: black;
}

.faq {
    position: absolute;
    bottom:  2%;
    left: 50%;
    transform: translate(-50%,-50%);
}
