.topdown {
    position: absolute;
    top: 25%;
    right: 0px;
    left: 0px;
}

.text-mid {
    text-align: center;
}

.pad {
    padding-bottom: 5%;
}

.login {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}