*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
}

body {
  background: #cacaca;
  overflow: hidden;
}

.demo {
    text-align: center;
  position: absolute;
  left: 42.5%;
  top: 50%;
  width: 36rem;
  height: 65rem;
  margin-left: -15.3rem;
  margin-top: -35rem;
  background-color: #cacaca;
  border-radius: 5px;
  
}


.demo__content {
  overflow: hidden;
  position: relative;
  height: 59.8rem;
  padding-top: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
border-radius: 5%;
}
.demo__card-cont {
  position: relative;
  width: 33rem;
  height: 35.5rem;
  margin: 0 auto 5rem;
}
.demo__card {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;

}
.demo__card.reset {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}
.demo__card.reset .demo__card__choice {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0 !important;
}
.demo__card.inactive {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.demo__card.to-left {
  -webkit-transform: translateX(-30rem) rotate(-30deg) !important;
          transform: translateX(-30rem) rotate(-30deg) !important;
}
.demo__card.to-right {
  -webkit-transform: translate(30rem) rotate(30deg) !important;
          transform: translate(30rem) rotate(30deg) !important;
}
.demo__card.below {
  z-index: 1;
}
.demo__card__top {
  height: 20.5rem;
  padding-top: 1rem;
}


.demo__card__img1 {
  overflow: hidden;
  width: 30rem;
  height: 45rem;
  margin: 0 auto 1.5rem;
  background-image: url("https://www.cpacanada.ca/-/media/site/operational/sc-strategic-communications/images/g10438-sc.jpg");
  background-size: cover;
  border-radius:4% 4% 4% 4% ;
  background-position-x: 25%;
}
.demo__card__img2 {
    overflow: hidden;
    width: 30rem;
    height: 45rem;
    margin: 0 auto 1.5rem;
    background-image: url("https://fee.org/media/17410/us_immigration.jpg?anchor=center&mode=crop&width=1920&rnd=131303470440000000");
    background-size: cover;
    border-radius:4% 4% 4% 4% ;
    background-position-x: 20%;
  }
  .demo__card__img3 {
    overflow: hidden;
    width: 30rem;
    height: 45rem;
    margin: 0 auto 1.5rem;
    background-image: url("https://www.healthcarefinancenews.com/sites/healthcarefinancenews.com/files/styles/companion_top/public/hospital-bills712_0.jpg?itok=lHjtLGTv");
    background-size: cover;
    border-radius:4% 4% 4% 4% ;
    background-position-x: 25%;
   
  }
  .demo__card__img4 {
    overflow: hidden;
    width: 30rem;
    height: 45rem;
    margin: 0 auto 1.5rem;
    background-image: url("https://static.allongeorgia.com/wp-content/uploads/2018/09/student-loans.jpg");
    background-size: cover;
    border-radius:4% 4% 4% 4% ;
    background-position-x: 42%;
  }
  .demo__card__img5 {
    overflow: hidden;
    width: 30rem;
    height: 45rem;
    margin: 0 auto 1.5rem;
    background-image: url("https://www.ozy.com/wp-content/uploads/2019/09/t-t-k-gettyimages692684784.jpg?w=1600&h=900&crop=1");
    background-size: cover;
    border-radius:4% 4% 4% 4% ;
    background-position-x: 45%;
  }
  .demo__card__img6 {
    overflow: hidden;
    width: 30rem;
    height: 45rem;
    margin: 0 auto 1.5rem;
    background-image: url("https://d97yz4wvpgciz.cloudfront.net/remote.axd?https://d3uwh8jpzww49g.cloudfront.net/sharedmedia/1510902/research-study.jpg?preset=article");
    background-size: cover;
    border-radius:4% 4% 4% 4% ;
    background-position-x: 45%;
  }
  .demo__card__img7 {
    overflow: hidden;
    width: 30rem;
    height: 45rem;
    margin: 0 auto 1.5rem;
    background-image: url("https://shepherdexpress.com/downloads/38076/download/lgbtqpov.jpg?cb=294b5b3a9f2dbed5c2994e0972153a26&w=800&h=");
    background-size: cover;
    border-radius:4% 4% 4% 4% ;
    background-position-x: 10%;
  }
  .demo__card__img8 {
    overflow: hidden;
    width: 30rem;
    height: 45rem;
    margin: 0 auto 1.5rem;
    background-image: url("https://nationalinterest.org/sites/default/files/styles/desktop__1260_/public/main_images/RTS2YJXJ%20%281%29.jpg?itok=jjgOzZ0f");
    background-size: cover;
    border-radius:4% 4% 4% 4% ;
    background-position-x: 20%;

  }
  .demo__card__img9 {
    overflow: hidden;
    width: 30rem;
    height: 45rem;
    margin: 0 auto 1.5rem;
    background-image: url("http://blogs.worldbank.org/sites/default/files/blogs-images/2019-09/digital_agriculture3.jpg");
    background-size: cover;
    border-radius:4% 4% 4% 4% ;

  }
  .demo__card__img10 {
    overflow: hidden;
    width: 30rem;
    height: 45rem;
    margin: 0 auto 1.5rem;
    background-image: url("https://i.hurimg.com/i/hdn/75/0x0/5da425cc0f25441cf4279f1d.jpg");
    background-size: cover;
    border-radius:4% 4% 4% 4% ;
    background-position-x: 40%;
  }
.demo__card__name {
  
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
    margin-bottom: 10%;
    background-color: #cacaca;
  
    
}
.demo__card__btm {
    margin-top: 2%;
  height: 18.5rem;
  background: #ffffff;
  border-radius:0 0 5% 5%;
}
.demo__card__we {
  text-align: center;
  font-size: 2.2rem;
  line-height: 10.5rem;
}
.demo__card__choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  opacity: 0;
}
.demo__card__choice:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.demo__card__choice:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 2.5rem;
  margin-left: -2rem;
  border: 0.6rem solid #fff;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.demo__card__choice.m--reject {
  background: #d63031;
}
.demo__card__choice.m--like {
  background: #b1da96;
}
.demo__card__choice.m--like:after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.demo__card__drag {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.demo__tip {
  text-align: center;
  font-size: 2.2rem;
}

.button_group{
    margin: 7.5%;
    
    justify-content: center;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.action-button
{
	position: relative;
    padding: 15px 16px;
    
    margin-right: 5px;
  
  float: center;
	border-radius: 10px;
	font-family: 'Pacifico';
	font-size: 35px;
	color: #FFF;
	text-decoration: none;	
}

.back-button
{
	position: relative;
    padding: 5px 15px;
    
  margin: 5px 10px 10px 0px;
  font-weight: 200%;
  float: left;
	border-radius: 12px;
	font-family: 'arial black';
	font-size: 15px;
	color: #FFF;
	text-decoration: none;	
}
.gery
{
	background-color:#636e72;
	border-bottom: 5px solid #2d3436;
	text-shadow: 0px -2px #636e72;
}

.threegreen
{
	background-color: #E2D456;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #E2D456;
}

.twored
{
	background-color: #E5A74B;
	border-bottom: 5px solid #E58152;
	text-shadow: 0px -2px #E5A74B;
}

.mostred
{
    
    background-color: #E58152;
	border-bottom: 5px solid rgb(209, 69, 54);
	text-shadow: 0px -2px #E5A74B;
}
.fourgreen{
    background-color: #B7DB55;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #B7DB55;
}
.mostgreen 
{
    background-color: #70DB55;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #70DB55;
}
.text{
   
}
.t1{
    float:left;
    margin-left: 210px;
    font-size: 20px;
    font-weight: 20px;
}
.t2{
    
    float:left;
    margin-left: -200px;
    font-size: 20px;
    font-weight: 20px;
}



